$primary-background: #050505;
$secondary-background: #242526;
$primary-font-color: #ffffff;
$secondary-font-color: #cccccc;
$darker-font-color: darken($secondary-font-color, 20%);
$title-font: #FF0000;
$poster-background: #870a22;
$highlight: #FFD700;

