.querying-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #870a22;
}

.filter-sort {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}