@import 'variables.scss';
@import 'extends.scss';

.querying-form {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: $primary-background;
    color: $primary-font-color;
    padding: 4px;
}

// .filter-sort {
//     background: white;
//     width: 40vw;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
.dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown *{
    @include black-box-shadow;
    color: $primary-font-color;
    font: 400 16px Arial;
    padding: 0.7em;
    width: 20vw;
    &:hover {
        color: $poster-background;
    }
}

input {
    width: 20vw;
    padding: 0.7em;
}