@import 'App.scss';
@import 'Movies.scss';
@import 'Poster.scss';
@import 'variables.scss';
@import 'extends.scss';
@import 'MovieInfo.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: $primary-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  @include flex-column;
  align-items: center;
  color: $primary-font-color;
}

  @media screen and (max-width: 900px) {
    .movie-grid{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
      background: $poster-background;
  }

  .header-title {
    @include black-box-shadow;
    display: flex;
    justify-content: center;
    padding: 0.3em;
    margin: 0.2em;
    width: 95%;
    font-size: 40px;
  }

}

  @media screen and (max-width: 650px) {
    .movie-grid{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 25px;
      background: $poster-background;
  }

  .header-title {
    @include black-box-shadow;
    display: flex;
    justify-content: center;
    padding: 0.3em;
    margin: 0.2em;
    width: 95%;
    font-size: 20px;
  }
}