@import 'variables.scss';
@import 'extends.scss';

.button-lobby {
    @include black-box-shadow;
    @include flex-row-center;
    color: $primary-font-color;
    justify-content: center;
    width: 20vw;
    padding: 0.7em;
    font-size: 1em;
    &:hover {
        color: $poster-background;
    }
}
.movie-info-container {
    @include black-box-shadow-transparent;
    @include flex-row-center;
    font-family: 'Montserrat', sans-serif;
    margin: 5vh;
    padding: 2vh;
}
.movie-info-container-inner {
    @include black-box-shadow-transparent;
    @include flex-column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    margin: 2vh;
    padding: 2vh;
}
.selected-movie-display {
    @include flex-column;
    background-color: rgba(0, 0, 0, 0.8);
    color: $primary-font-color;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    padding: 2em;
}
.selected-movie-poster {
    @include poster-image;
    height: 27em;
    margin: 2vh;
}
.selected-movie-rating {
    font-size: 1em;
    margin: 0;
}
.selected-movie-date {
    @extend .selected-movie-rating;
    margin-bottom: 2vh;
}
.selected-movie-header-container {
    @include flex-column;
    align-items: center;
    margin-bottom: 1em;
}
.selected-movie-tagline {
    font-style: italic;
    font-size: 1.2em;
    color: $darker-font-color;
}
.selected-movie-title {
    color: $title-font;
    text-shadow: 2px 2px 1px #3f3a3a;
    display: flex;
    font-size: 3.5em;
    margin: 0;
}

.summary-container {
    @include black-box-shadow;
    color: $secondary-font-color;
    margin: 0.5vh;
    margin-top: 2vh;
    padding: 2vh;
}

.selected-movie-genres * {
    color: $poster-background;
    display: flex;
    align-items: center;
    margin: 2px;
}